SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1/spring_playground?useUnicode=yes&charset=utf8mb4&collation=utf8mb4_unicode_ci&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

# Spring Security
SPRING_SECURITY_USER_PASSWORD=

# Application Vars
APPLICATION_SECURITY_JWT_ISSUER=
APPLICATION_SECURITY_JWT_SECRET=
APPLICATION_SECURITY_JWT_VALIDITY_IN_SECONDS=
