SPRING_DATASOURCE_URL=jdbc:mysql://<db-host>/<db-name>?useUnicode=yes&charset=utf8mb4&collation=utf8mb4_unicode_ci&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull
SPRING_DATASOURCE_USERNAME=<db-user>
SPRING_DATASOURCE_PASSWORD=<db-password>

# Spring Security
SPRING_SECURITY_USER_PASSWORD=<default-user-password>

# Application Vars
APPLICATION_SECURITY_JWT_ISSUER=<issuer-name>
APPLICATION_SECURITY_JWT_SECRET=<jwt-secret>
APPLICATION_SECURITY_JWT_VALIDITY_IN_SECONDS=<jwt-expire-second>
