SPRING_DATASOURCE_URL=jdbc:mysql://<db-host>/<db-name>?useUnicode=yes&charset=utf8mb4&collation=utf8mb4_unicode_ci&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull
SPRING_DATASOURCE_USERNAME=<db-user>
SPRING_DATASOURCE_PASSWORD=<db-password>
